/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: inline-block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
button {
    line-height: 1;
}
button:hover {
    cursor: pointer;
}

/* Variables */
:root {
    --phone-header-img-width: 200px;
    --tablet-about-me-margin: 0px 64px;
    --desktop-header-img-width: 400px;
}

/* Header */
header {
    position: relative;
    display: flex;
    justify-content: center;
}

header .bg-container {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    filter: drop-shadow(0px 2px 2px gray); /* Applies box shadow to clip path */
    z-index: -1;
}

header .bg {
    height: 100%;
    background: #f55959; /* Temporary color */
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%); /* Clips lower right corner for slanted look */
}

header .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: var(--phone-header-img-width);
    border: 1px solid black;
    margin: 8px;
}

header h1 {
    width: var(--phone-header-img-width);
    position: absolute;
    top: 240px;
    color: white;
    padding: 0px 8px;
    line-height: 1;
    font-size: 2rem;
}

header .about-me {
    padding: 36px;
    text-align: center;
    border: 1px solid black; /* Temporar */
}

header .icons {
    height: 24px;
    border: 1px solid black;
    margin-top: 24px;
}

@media (min-width: 768px) and (max-width: 1024px)  {
    header .bg-container {
        height: 400px;
    }

    header .content-container {
        display: flow-root;
    }

    header img {
        float: left;
        height: clamp(0px, 40vw, 400px);
        width: clamp(0px, 40vw, 400px);
        margin-left: 32px;
        margin-top: 32px;
    }

    header h1 {
        width: 100%;
        text-align: right;
        top: 64px;
        font-size: 3rem;
        padding: var(--tablet-about-me-margin); 
    }

    header .about-me {
        margin: var(--tablet-about-me-margin);
        margin-top: 128px;
        text-align: left;
    }
}

@media (min-width: 1025px) {
    header .bg-container {
        height: 450px;
    }

    header .content-container {
        flex-direction: row;   
        padding: 32px;
        max-width: 1200px;
    }

    header img {
        margin: 0;
        height: var(--desktop-header-img-width);
        width: var(--desktop-header-img-width);
    }

    header h1 {
        width: var(--desktop-header-img-width); /*Variable: same as img*/
        top: 360px;
        font-size: 3rem;
        text-align: center;
    }

    header .about-me {
        text-align: left;
        flex: 1;
    }
}

/* Main */
main {
    margin: 0px 64px;
}

main h2 {
    text-align: center;
    width: 400px; /*Based on grid size*/
    margin: 0 auto;
}

main .project-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 24px;
    place-content: center;
    max-width: 1250px;
    margin: 0 auto;
}

main .project-card {
    height: 400px;
    border: 1px solid black;
}