/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: inline-block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
button {
    line-height: 1;
}
button:hover {
    cursor: pointer;
}

/* Header */
header {
    position: relative;
    text-align: center;
    height:360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .bg-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    filter: drop-shadow(0px 2px 2px gray); /* Applies box shadow to clip path */
    z-index: -1;
}

header .bg {
    height: 100%;
    background: #f55959; /* Temporary color */
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%); /* Clips lower right corner for slanted look */
}

header img {
    height: 90%;
    background-image: url("./person.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
}

header h1 {
    width: 216px;
    color: white;
    font-size: 2.5rem;
    line-height: 1;
    text-align: start;
    padding: 8px 16px; 
    margin-top: -96px;
}